In [ ]:
#data preparation
import pandas as pd

df = pd.read_csv('Students Performance.csv')

df

    gender parental level of education test preparation course  nilai
0     male                some college                    none     43
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
..     ...                         ...                     ...    ...
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71
98    male            associate degree                    none     66
99    male                some college               completed     85

[100 rows x 4 columns]



---



---

<h2>Assignment 1: Indexing</h2>

1. Penform the indexing for the dataframe to only show the column 'gender' and 'parental level of education' 
2. Penform the indexing for accessing row 10 to 20, with showing the 'test preparation course' and 'nilai' columns

In [ ]:
# a
df[['gender','parental level of education']]

    gender parental level of education
0     male                some college
1     male            some high school
2     male                some college
3     male             bachelor degree
4   female             bachelor degree
..     ...                         ...
95    male                 high school
96  female                 high school
97    male                 high school
98    male            associate degree
99    male                some college

[100 rows x 2 columns]

In [ ]:
# b
df[['test preparation course','nilai']].loc[10:20]

   test preparation course  nilai
10                    none     68
11               completed     63
12                    none     64
13                    none     47
14                    none     77
15               completed     52
16               completed     34
17                    none     29
18                    none     40
19                    none     75
20                    none     80

Expected output :

poin a:

![alt text](https://drive.google.com/uc?id=10IktjvsNtqzhq7H7vrP7wvQTVx5EWJjA)


poin b:

![alt text](https://drive.google.com/uc?id=1Dc2OdbTATwZRsPC24rSH3citYmfyrVHv)



---



---

<h2>Soal 2: Filter DataFrame with Boolean</h2>

1. Filter the students data with the parental level of educatiom equal to 'high school' or 'bachelor degree'
2. Filter the students data with the 'nilai' value is more than 50 and the test preparation course is completed.
3. Filter the students data with the 'nilai' value is more than 70, the gender is female, and the test preparation course is completed.

In [ ]:
1.

HS = df['parental level of education'] == 'high school'
BD = df['parental level of education'] == 'bachelor degree'

df[(HS)|(BD)]

    gender parental level of education test preparation course  nilai
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
7   female             bachelor degree                    none     71
8   female             bachelor degree                    none     67
15  female                 high school               completed     52
16  female                 high school               completed     34
17  female                 high school                    none     29
19  female                 high school                    none     75
23    male                 high school                    none     78
24    male                 high school                    none     71
27  female                 high school               completed     77
28    male                 high school               completed     67
29    male                 high school                    none     87
31    male             bachelor degree                    none     60
34  female             bachelor degree                    none     56
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
41    male                 high school                    none     57
43    male                 high school                    none     62
51  female                 high school                    none     71
52  female                 high school                    none     65
60  female             bachelor degree                    none     85
61    male             bachelor degree                    none     64
63    male             bachelor degree                    none     68
67    male                 high school                    none     79
70    male                 high school                    none     52
73  female                 high school                    none     82
74    male                 high school               completed     70
76    male                 high school                    none     68
80    male                 high school                    none     69
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71

In [ ]:
2.

score50 = df['nilai'] > 50
testComp = df['test preparation course'] == 'completed'

df[(score50)&(testComp)]

    gender parental level of education test preparation course  nilai
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
5   female               master degree               completed     71
6   female                some college               completed     78
11  female            some high school               completed     63
15  female                 high school               completed     52
27  female                 high school               completed     77
28    male                 high school               completed     67
35    male                some college               completed     94
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
42    male            associate degree               completed     65
46  female                some college               completed     71
49    male            some high school               completed     80
53    male            associate degree               completed     68
55  female            associate degree               completed     76
58  female               master degree               completed     89
62    male            some high school               completed     69
64  female                some college               completed     74
72  female            associate degree               completed     68
74    male                 high school               completed     70
75  female                some college               completed     91
79    male                some college               completed     67
86  female            some high school               completed     66
93    male            associate degree               completed     76
94  female                some college               completed     78
99    male                some college               completed     85

In [ ]:
3.

score70 = df['nilai'] > 70
genFemale = df['gender'] == 'female'
testComp = df['test preparation course'] == 'completed'

df[(score70)&(testComp)&(genFemale)]

    gender parental level of education test preparation course  nilai
5   female               master degree               completed     71
6   female                some college               completed     78
27  female                 high school               completed     77
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
46  female                some college               completed     71
55  female            associate degree               completed     76
58  female               master degree               completed     89
64  female                some college               completed     74
75  female                some college               completed     91
94  female                some college               completed     78

Expected output: 

poin a:(partial)

![alt text](https://drive.google.com/uc?id=1UiNs119fMKgPVa1SiIZxojC5iOkW2Ub1)


poin b: (partial)

![alt text](https://drive.google.com/uc?id=13fc9IaUbwfzLiNgX6jEoLLuUjYli_YJq)

poin c:

![alt text](https://drive.google.com/uc?id=1SYby1GosYEyMQ26KdGOzvL48cKXpikp1)



---



---

<h2>Assignment 3: Data Transformation</h2>

Penfrom an data transformation to the 'nilai' column, with the following transformation function :


![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
NormResult = []

for i in df['nilai']:
  XNorm = (i - df['nilai'].min()) / (df['nilai'].max() - df['nilai'].min())
  NormResult.append(XNorm)

pd.Series(NormResult)

0     0.205882
1     0.705882
2     0.794118
3     0.794118
4     0.647059
        ...
95    0.014706
96    0.485294
97    0.617647
98    0.544118
99    0.823529
Length: 100, dtype: float64



---



---